*{
    margin: 0;
    padding: 0;
    font-family: Work Sans, Inter, sans-serif;
}

header{
    background-image: url("https://i.ibb.co/2F4rQRX/modern-living-room-interior-with-sofa-green-plants-lamp-table-dark-wall-background-1.png");
    background-size: cover;
    height: 1189px;
    background-position: center;
    position: relative;
}
.menu{
    position: relative;
    display: flex;
    flex-direction: row;
    top: 64px;
    left: 119px;
    width: 1700px;
    height: 46px;
}
.text{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    display: flex;
    padding-left: 4px;
    cursor: pointer;
}
.logo{
    position: relative;
    margin-top: 6px;
    display: flex;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #fff;
    font-family: Inter, sans-serif;
}
.nav{
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 28px;
    gap: 80px;
    margin-left: 400px;
    margin-right: 300px;
    padding-top: 18px;
}
.nav-bar{
    font-family: Work Sans, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
}
.nav-bar:hover{
    background: linear-gradient(90deg, #2af598 0%, #009efd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease;
}

.text:hover{
    background: linear-gradient(90deg, #2af598 0%, #009efd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     transition: all 0.5s ease;
}
.basket{
    padding-top: 5px;
    padding-left: 147px;
}
.heading-text{
    position: relative;
    top: 190px;
    left: 280px;
    width: 1400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.heading-text-main{
    font-weight: 700;
    font-size: 82px;
    text-align: center;
    color: #fff;
}
.heading-text-additional{
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #fff;
}
.first-circle{
    position: relative;
    left: 120px;
    top: 95px;
    width: 54px;
}
.second-circle{
    position: relative;
    left: 210px;
    top: 270px;
    width: 54px;
}
.third-circle{
    position: relative;
    left: 1725px;
    top: 220px;
    width: 54px;
}
























.blurring{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 208px;
}
